{% extends ../base.html %}

{% block meta %}
{% end %}

{% block title %}Crafty Controller - Contribute{% end %}

{% block content %}

<div class="content-wrapper">

  <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">Contribute</h4>
      </div>
    </div>

  </div>
  <!-- Page Title Header Ends-->

  <div class="row">

    <div class="col-md-4 grid-margin">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Recurring Support</h4>

          <div class="media-body">
            <p class="card-text">
              Patrons get access to several perks, such as behind the scenes videos, posts, and updates.<br>
              Patrons also get early access to new software!
            </p>
            <br />
            <div class="text-center">
              <a href="https://www.patreon.com/bePatron?u=27882946"
                data-patreon-widget-type="become-patron-button">Become a Patron!</a>
              <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
              <br>
              <iframe id='kofiframe'
                src='https://ko-fi.com/arcadiatech/?hidefeed=true&widget=true&embed=true&preview=true'
                style='border:none;width:69%;padding:4px;background:#1d1d2f;' height='712' title='arcadiatech'></iframe>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4 grid-margin">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">Volunteer Time!</h4>

          <div class="media-body">
            <p class="card-text">
              Join the discord and volunteer to help others solve issues, write documentation, translate Crafty into a
              new language.
              Come for the support, stay for the community. We have a very strong community full of people who are great
              to be around.
            </p>
            <br />
            <div class="text-center">
              <a href="https://discord.gg/9VJPhCE" target="_blank" class="btn btn-sm btn-info">Join Discord</a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-4 grid-margin">
      <div class="card">
        <div class="card-body">

          <h4 class="card-title">More Ways Coming Soon...</h4>

          <div class="media-body">
            <p class="card-text">
              Thank you for your interest in contributing to Aracdia Technology's Crafty Controller.
              We are always thinking of new ways for our community to contribute to this awesome project. <br><br> If
              you don't see
              a contribution method that peaks your interest now please check back soon.
            </p>
            <br />
            <div class="text-center">

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>





</div>
<!-- content-wrapper ends -->

{% end %}

{% block js %}
<script>

  $(document).ready(function () {
    console.log('ready for JS!')

  });
</script>

{% end %}
