{% extends ../base.html %}

{% block meta %}
{% end %}

{% block title %}Crafty Controller - Credits{% end %}

{% block content %}

<div class="content-wrapper">

    <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">Credits
          <small>Without these people, you wouldn't have Crafty</small>
        </h4>
      </div>
    </div>

  </div>
  <!-- Page Title Header Ends-->

  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="card-header header-sm d-flex justify-content-between align-items-center">
            <h4 class="card-title"><i class="far fa-code"></i> &nbsp;Development Team</h4>
          </div>
          <div class="row">
            {% for person in data['staff']['development'] %}
            <div class="col-md-6 mb-5">
              <div class="card rounded shadow-none">
                <div class="card-body">

                  <div class="row">
                    <div class="col-md-4">

                      <div class="user-avatar mb-auto">
                        <img src="{{ person['pic'] }}"
                             alt="profile image" class="profile-img img-lg rounded-circle">
                      </div>

                      <div class="wrapper">
                        <div class="wrapper d-flex align-items-center">
                          <h4 class="mb-0 font-weight-medium">{{ person['name'] }}</h4>
                        </div>

                        <div class="wrapper d-flex align-items-center font-weight-medium text-muted">
                          {% if person['loc'] %}
                          <i class="mdi mdi-map-marker-outline mr-2"></i>
                          <p class="mb-0 text-muted">{{ person['loc'] }}</p>
                          {% end %}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="wrapper d-flex align-items-start">
                        {% if person['tags'][0] %}
                        <span class="btn btn-sm btn-info mr-2">{{ person['tags'][0] }}</span>
                        {% end %}
                        {% if person['tags'][1] %}
                          {% if type(person['tags'][1]) is list %}
                          <a href="{{ person['tags'][1][1] }}" class="btn btn-sm btn-primary mr-2">{{ person['tags'][1][0] }}</a>
                          {% else %}
                          <span class="btn btn-sm btn-primary mr-2">{{ person['tags'][1] }}</span>
                          {% end %}
                        {% end %}
                        {% if person['tags'][2] %}
                          {% if type(person['tags'][2]) is list %}
                          <a href="{{ person['tags'][2][1] }}" class="btn btn-sm btn-inverse-success mr-2">{{ person['tags'][2][0] }}</a>
                          {% else %}
                          <span class="btn btn-sm btn-inverse-success mr-2">{{ person['tags'][2] }}</span>
                          {% end %}
                        {% end %}
                      </div>

                      <div class="wrapper align-items-start pt-3">
                        {% if person['title'] %}
                        <h5><strong>Crafty's {{ person['title'] }}</strong></h5>
                        {% end %}
                        <p>{{ person['blurb'] }}</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            {% end %}

          </div> <!-- end of user row -->

          <div class="card-header header-sm d-flex justify-content-between align-items-center">
            <h4 class="card-title"><i class="fa fa-book"></i> &nbsp;Support and Documentation Team</h4>
          </div>

          <div class="row">
          {% for person in data['staff']['support'] %}
            <div class="col-md-6 mb-5">
              <div class="card rounded shadow-none">
                <div class="card-body">

                  <div class="row">
                    <div class="col-md-4">

                      <div class="user-avatar mb-auto">
                        <img src="{{ person['pic'] }}"
                             alt="profile image" class="profile-img img-lg rounded-circle">
                      </div>

                      <div class="wrapper">
                        <div class="wrapper d-flex align-items-center">
                          <h4 class="mb-0 font-weight-medium">{{ person['name'] }}</h4>
                        </div>

                        <div class="wrapper d-flex align-items-center font-weight-medium text-muted">
                          {% if person['loc'] %}
                          <i class="mdi mdi-map-marker-outline mr-2"></i>
                          <p class="mb-0 text-muted">{{ person['loc'] }}</p>
                          {% end %}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="wrapper d-flex align-items-start">
                        {% if person['tags'][0] %}
                        <span class="btn btn-sm btn-info mr-2">{{ person['tags'][0] }}</span>
                        {% end %}
                        {% if person['tags'][1] %}
                          {% if type(person['tags'][1]) is list %}
                          <a href="{{ person['tags'][1][1] }}" class="btn btn-sm btn-primary mr-2">{{ person['tags'][1][0] }}</a>
                          {% else %}
                          <span class="btn btn-sm btn-primary mr-2">{{ person['tags'][1] }}</span>
                          {% end %}
                        {% end %}
                        {% if person['tags'][2] %}
                          {% if type(person['tags'][2]) is list %}
                          <a href="{{ person['tags'][2][1] }}" class="btn btn-sm btn-inverse-success mr-2">{{ person['tags'][2][0] }}</a>
                          {% else %}
                          <span class="btn btn-sm btn-inverse-success mr-2">{{ person['tags'][2] }}</span>
                          {% end %}
                        {% end %}
                      </div>

                      <div class="wrapper align-items-start pt-3">
                        {% if person['title'] %}
                        <h5><strong>Crafty's {{ person['title'] }}</strong></h5>
                        {% end %}
                        <p>{{ person['blurb'] }}</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            {% end %}

          </div> <!-- end user row-->

          <div class="card-header header-sm d-flex justify-content-between align-items-center">
            <h4 class="card-title"><i class="far fa-server"></i> &nbsp;Retired Staff</h4>
          </div>

          <div class="row">

            {% for person in data['staff']['retired'] %}
            <div class="col-md-6 mb-5">
              <div class="card rounded shadow-none">
                <div class="card-body">

                  <div class="row">
                    <div class="col-md-4">

                      <div class="user-avatar mb-auto">
                        <img src="{{ person['pic'] }}"
                             alt="profile image" class="profile-img img-lg rounded-circle">
                      </div>

                      <div class="wrapper">
                        <div class="wrapper d-flex align-items-center">
                          <h4 class="mb-0 font-weight-medium">{{ person['name'] }}</h4>
                        </div>

                        <div class="wrapper d-flex align-items-center font-weight-medium text-muted">
                          {% if person['loc'] %}
                          <i class="mdi mdi-map-marker-outline mr-2"></i>
                          <p class="mb-0 text-muted">{{ person['loc'] }}</p>
                          {% end %}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="wrapper d-flex align-items-start">
                        {% if person['tags'][0] %}
                        <span class="btn btn-sm btn-info mr-2">{{ person['tags'][0] }}</span>
                        {% end %}
                        {% if person['tags'][1] %}
                          {% if type(person['tags'][1]) is list %}
                          <a href="{{ person['tags'][1][1] }}" class="btn btn-sm btn-primary mr-2">{{ person['tags'][1][0] }}</a>
                          {% else %}
                          <span class="btn btn-sm btn-primary mr-2">{{ person['tags'][1] }}</span>
                          {% end %}
                        {% end %}
                        {% if person['tags'][2] %}
                          {% if type(person['tags'][2]) is list %}
                          <a href="{{ person['tags'][2][1] }}" class="btn btn-sm btn-inverse-success mr-2">{{ person['tags'][2][0] }}</a>
                          {% else %}
                          <span class="btn btn-sm btn-inverse-success mr-2">{{ person['tags'][2] }}</span>
                          {% end %}
                        {% end %}
                      </div>

                      <div class="wrapper align-items-start pt-3">
                        {% if person['title'] %}
                        <h5><strong>Crafty's {{ person['title'] }}</strong></h5>
                        {% end %}
                        <p>{{ person['blurb'] }}</p>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            {% end %}

          </div> <!-- end user row-->
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Patreon Supporters</h4>
          <p class="card-description"> A huge <code>thank you</code>&nbsp; to our Patreon supporters! | <span style="color: #9365B8">Last Update: {{ data["lastUpdate"] }}</span></p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Level</th>
              </tr>
            </thead>
            <tbody>
              {% for pat in data["patrons"] %}
              <tr>
                <td>{{ pat["name"] }}</td>
                <td>
                  {% if pat["level"] == "Crafty Sustainer" %}
                  <span class="btn btn-sm btn-info mr-2">Sustainer</span>
                  {% elif pat["level"] == "Crafty Advocate" %}
                  <span class="btn btn-sm btn-primary mr-2">Advocate</span>
                  {% elif pat["level"] == "Crafty Supporter" %}
                  <span class="btn btn-sm btn-inverse-success mr-2">Supporter</span>
                  {% else %}
                  <span class="btn btn-sm btn-secondary mr-2">Other</span>
                  {% end %}
                </td>
              </tr>
              {% end %}

            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Language Translation</h4>
          <p class="card-description"> A huge <code>thank you</code>&nbsp; to our community who translate! </p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for person in data['translations'] %}
              <tr>
                <td>{{ person }}</td>
                <td>
                  {% for language in data['translations'][person] %}
                  <span class="btn btn-sm btn-inverse-success mr-2">{{ language }}</span>
                  {% end %}
                </td>
              </tr>
              {% end %}
            </tbody>
          </table>
        </div>
      </div>
    </div>



  </div>
</div>
<!-- content-wrapper ends -->

{% end %}

{% block js %}
<script>

$( document ).ready(function() {
  console.log('ready for JS!')

});
</script>

{% end %}
