{% extends ../base.html %}

{% block meta %}
<!--  <meta http-equiv="refresh" content="60">-->
{% end %}

{% block title %}Crafty Controller - Looking at files in server -< server name >- (-< server path id >-){% end %}

{% block content %}

<div class="content-wrapper">

    <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">
          Looking at files in server -< server name >- (-< server path id >-)
          <br />
          <small>Path: -< location relative to server directory >-</small>
        </h4>
      </div>
    </div>

  </div>
  <!-- Page Title Header Ends-->

  <div class="row">

    <div class="col-md-6">
      <noscript>
        Some functionality does not work without JavaScript.
      </noscript>
      <ul class="tree-view">
        <li>
          <span class="tree-caret">Files</span>
          <ul class="tree-nested">
            {{ data['tree_html'] }}

          </ul>
        </li>
      </ul>
    </div>
    <style>
       /* Remove default bullets */
      .tree-view {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      /* Style the caret/arrow */
      .tree-caret {
        cursor: pointer;
        user-select: none; /* Prevent text selection */
      }

      /* Create the caret/arrow with a unicode, and style it */
      .tree-caret::before {
        content: "\25B6";
        color: white;
        display: inline-block;
        margin-right: 6px;
      }

      /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
      .tree-caret-down::before {
        transform: rotate(90deg);
      }

      /* Hide the nested list */
      .tree-nested {
        display: none;
      }
    </style>
    <div class="col-6">
    </div>

    <script>
      var toggler = document.getElementsByClassName("tree-caret");
      var i;

      for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
          this.parentElement.querySelector(".tree-nested").classList.toggle("d-block");
          this.classList.toggle("tree-caret-down");
        });
      }
    </script>

    <!-- <div class="col-sm-12 grid-margin">
      <div class="card">
        <div class="card-body">

          <ul class="files-list list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="background-color: var(--dark) !important;">
              <a href="/panel/file_edit?path=-< file location relative to server directory >-" class="text-white">-< name >-</a>
              <span>
                <a href="/panel/file_edit?path=-< file location relative to server directory >-" class="mx-1 btn btn-dark">Edit</a>
                <button onclick="alert('will make a modal')" class="mx-1 btn btn-dark">Rename</button>
                <button onclick="alert('will make a confirmation modal')" class="mx-1 btn btn-danger">Delete</button>
                <span style="margin-left: 0.3rem;width: 5rem;display: inline-block;">
                  <span class="badge badge-primary badge-pill">File</span>
                </span>
              </span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="background-color: var(--dark) !important;">
              <a href="/panel/files_menu?path=-< location relative to server directory >-" class="text-white">-< name >-</a>
              <span>
                <a href="/panel/files_menu?path=-< location relative to server directory >-" class="mx-1 btn btn-dark">Open</a>
                <button onclick="alert('will make a modal')" class="mx-1 btn btn-dark">Rename</button>
                <button onclick="alert('will make a confirmation modal')" class="mx-1 btn btn-danger">Delete</button>
                <span style="margin-left: 0.3rem;width: 5rem;display: inline-block;">
                  <span class="badge badge-primary badge-pill">Folder</span>
                </span>
              </span>
            </li>

            <a!--

            File:
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="background-color: var(--dark) !important;">
              <a href="/panel/file_edit?path=-< file location relative to server directory >-" class="text-white">-< name >-</a>
              <span>
                <a href="/panel/file_edit?path=-< file location relative to server directory >-" class="mx-1 btn btn-dark">Edit</a>
                <button onclick="alert('will make a modal')" class="mx-1 btn btn-dark">Rename</button>
                <button onclick="alert('will make a confirmation modal')" class="mx-1 btn btn-danger">Delete</button>
                <span style="margin-left: 0.3rem;width: 5rem;display: inline-block;">
                  <span class="badge badge-primary badge-pill">File</span>
                </span>
              </span>
            </li>

            Folder:
            <li class="list-group-item d-flex justify-content-between align-items-center"
                style="background-color: var(--dark) !important;">
              <a href="/panel/files_menu?path=-< location relative to server directory >-" class="text-white">-< name >-</a>
              <span>
                <a href="/panel/files_menu?path=-< location relative to server directory >-" class="mx-1 btn btn-dark">Open</a>
                <button onclick="alert('will make a modal')" class="mx-1 btn btn-dark">Rename</button>
                <button onclick="alert('will make a confirmation modal')" class="mx-1 btn btn-danger">Delete</button>
                <span style="margin-left: 0.3rem;width: 5rem;display: inline-block;">
                  <span class="badge badge-primary badge-pill">Folder</span>
                </span>
              </span>
            </li>

            --a>
          </ul>

        </div>
      </div>
    </div> -->
  </div>


</div>
<!-- content-wrapper ends -->

{% end %}

{% block js %}

<script>

    // empty for now

</script>

{% end %}