# docker related
docker/
.dockerignore
Dockerfile
docker-compose.yml

# git & gitlab related
.git/
.github/
.gitlab/
.gitignore
.gitlab-ci.yml

# root
.editorconfig
.pylintrc
.venv
.vscode
crafty_commander.exe
DBCHANGES.md
docker-compose.yml.example
README.md
