**/logs
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal

__pycache__/
*.py[cod]
*$py.class

.env
.venv
default.env
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
/servers/
/backups/
/docker/servers/
/docker/backups/
session.lock
.header
default.json
.vscode/
.DS_Store
.DS_STORE

app/config/
docker/*
!docker/docker-compose.yml
