<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Crafty Commander</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/assets/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/static/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End Plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/assets/css/dark/style.css">
    <!-- End Layout styles -->
    <link rel="shortcut icon" href="/static/assets/images/favicon.png" />
  </head>
  <body class="dark-theme">
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">

              <div class="auto-form-wrapper">
                <div class="text-center">
                <img src="/static/assets/images/logo_long.jpg">
              </div>
                <form action="/public/login" method="post">
                  {% raw xsrf_form_html() %}
                  <div class="form-group">
                    <label class="label">Email</label>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="user@example.com" name="email" id="email" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="label">Password</label>
                    <div class="input-group">
                      <input type="password" class="form-control" placeholder="" name="password" id="password" required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary submit-btn btn-block">Login</button>
                  </div>
                  <div class="form-group d-flex justify-content-between">
                    <div class="form-check form-check-flat mt-0">
                      &nbsp;
                    </div>
                    <a href="#" class="text-small forgot-password ">Forgot Password</a>
                  </div>

                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">Not a member ?</span>
                    <a href="/public/register" class="text-small">Closed During Alpha Testing</a>
                  </div>
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">Want to know more?</span>
                    <a href="/public/timeline" class="text-small">See the release timeline</a>
                  </div>
                  <div class="text-block text-center my-3">
                    <span class="text-small font-weight-semibold">Copyright © 2020 Rent My Data Center. All rights reserved.</span>
                  </div>
                </form>

              </div>

            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="/static/assets/js/shared/off-canvas.js"></script>
    <script src="/static/assets/js/shared/hoverable-collapse.js"></script>
    <script src="/static/assets/js/shared/misc.js"></script>
    <script src="/static/assets/js/shared/settings.js"></script>
    <script src="/static/assets/js/shared/todolist.js"></script>
    <!-- endinject -->
  </body>
</html>