{% extends ../public_base.html %}

{% block meta %}
  <meta http-equiv="refresh" content="30">
{% end %}

{% block title %}Crafty Controller - {{ translate('dashboard', 'dashboard') }}{% end %}

{% block content %}
<div class="content-wrapper col-md login-modal" style="background-color: #222437;">
  <img src="/static/assets/images/logo_long.png" style='width: 25%; margin-left: 38%;'>
  <hr />
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr class="rounded">
          <th>{{ translate('dashboard', 'server') }}</th>
          <th>{{ translate('dashboard', 'players') }}</th>
          <th>{{ translate('dashboard', 'motd') }}</th>
          <th>{{ translate('dashboard', 'version') }}</th>
          <th>{{ translate('dashboard', 'status') }}</th>
        </tr>
      </thead>
      <tbody>
        {% for server in data['servers'] %}
        <tr>
          <td>
            <i class="fas fa-server"></i>
              {{ server['server_data']['server_name'] }}
          </td>
            {% if server['stats']['int_ping_results'] != 'False' %}
          <td>
              {{ server['stats']['online'] }} / {{ server['stats']['max'] }} {{ translate('dashboard', 'max') }}<br />
          </td>
          <td>
              {% if server['stats']['desc'] != 'False' %}
                {% if server['raw_ping_result']['icon'] %}
                <img src="data:image/png;base64,{% raw server['raw_ping_result']['icon'] %}"  alt="icon"/>
                {% else %}
                <img src="/static/assets/images/pack.png" alt="icon" />
                {% end %}
                <span id="input_motd">{{ server['stats']['desc'] }}</span> <br />
              {% end %}
          </td>
          <td>
              {% if server['stats']['version'] != 'False' %}
                {{ server['stats']['version'] }}
              {% end %}
          </td>
            {% else %}
          <td colspan="3">
            <span class="text-warning"><i class="fas fa-exclamation-triangle"></i> Crafty can't get infos from this Server </span>
          </td>
            {% end %}
          <td>
            {% if server['stats']['int_ping_results'] %}
            <span class="text-success"><i class="fas fa-signal"></i>  {{ translate('dashboard', 'online') }}</span>
            {% else %}
            <span class="text-danger"><i class="fas fa-ban"></i>  {{ translate('dashboard', 'offline') }}</span>
            {% end %}
          </td>
        </tr>
        {% end %}

      </tbody>
    </table>
  </div>
  <hr />
</div>

{% end %}

{% block js %}

    <script src="/static/assets/js/motd.js"></script>
    <script>      
      $(document).ready(function () {
          initParser('input_motd', 'input_motd');
      }());
    </script>

{% end %}