{% extends ../base.html %}

{% block meta %}
{% end %}

{% block title %}Crafty Controller - Blank Page{% end %}

{% block content %}

<div class="content-wrapper">

    <!-- Page Title Header Starts-->
  <div class="row page-title-header">
    <div class="col-12">
      <div class="page-header">
        <h4 class="page-title">Dashboard</h4>
      </div>
    </div>

  </div>
  <!-- Page Title Header Ends-->

  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">





        </div>
      </div>
    </div>
  </div>





</div>
<!-- content-wrapper ends -->

{% end %}

{% block js %}
<script>

$( document ).ready(function() {
  console.log('ready for JS!')

});
</script>

{% end %}