<!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li class="nav-item nav-category" style="margin-top:10px;">{{ translate('sidebar', 'navigation') }}</li>

            <li class="nav-item">
              <a class="nav-link" href="/panel/dashboard">
                <i class="fas fa-chart-network"></i>&nbsp;
                <span class="menu-title">{{ translate('sidebar', 'dashboard') }}</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                <i class="fas fa-server"></i> &nbsp;
                <span class="menu-title">{{ translate('sidebar', 'servers') }}</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="page-layouts">
                <ul class="nav flex-column sub-menu">
                  {% if data['crafty_permissions']['Server_Creation'] in data['user_crafty_permissions'] %}
                    <li class="nav-item">
                      <a class="nav-link" href="/server/step1"><i class="fas fa-plus-circle"></i> &nbsp; {{ translate('sidebar', 'newServer') }}</a>
                    </li>
                  {% end %}
                  {% for s in data['menu_servers'] %}
                    <li class="nav-item">
                      <a class="nav-link" href="/panel/server_detail?id={{s['server_id']}}"><i class="fas fa-server"></i> &nbsp; {{s['server_name']}}</a>
                    </li>
                  {% end %}

                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://gitlab.com/crafty-controller/crafty-web/-/wikis/home" target="_blank">
                <i class="fas fa-book"></i> &nbsp;
                <span class="menu-title">{{ translate('sidebar', 'documentation') }}</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://discord.gg/9VJPhCE" target="_blank">
                <i class="fab fa-discord"></i> &nbsp;
                <span class="menu-title">Discord</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/panel/credits">
                <i class="fas fa-heart"></i> &nbsp;
                <span class="menu-title">{{ translate('sidebar', 'credits') }}</span>
              </a>
            </li>

            {% if data['show_contribute'] %}
            <li class="nav-item">
              <a class="nav-link" href="/panel/contribute">
                <i class="fas fa-donate"></i> &nbsp;
                <span class="menu-title">{{ translate('sidebar', 'contribute') }}</span>
              </a>
            </li>
            {% end %}

          </ul>
        </nav>
        <!-- partial -->