<!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">

            <li class="nav-item nav-category" style="margin-top:10px;">Main Menu</li>

            <li class="nav-item">
              <a class="nav-link" href="/panel/dashboard">
                <i class="fas fa-chart-network"></i>&nbsp;
                <span class="menu-title">Dashboard</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                <i class="fas fa-server"></i> &nbsp;
                <span class="menu-title">Servers</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="page-layouts">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                      <a class="nav-link" href="/server/step1"><i class="fas fa-plus-circle"></i> &nbsp; Add New Server</a>
                    </li>
                  {% for s in data['menu_servers'] %}
                    <li class="nav-item">
                      <a class="nav-link" href="/panel/server_detail?id={{s['server_id']}}"><i class="fas fa-server"></i> &nbsp; {{s['server_name']}}</a>
                    </li>
                  {% end %}

                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#apps-dropdown" aria-expanded="false" aria-controls="apps-dropdown">
                <i class="fas fa-cogs"></i> &nbsp;
                <span class="menu-title">Configuration</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="apps-dropdown">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item">
                    <a class="nav-link" href="pages/apps/kanban-board.html">History Limit</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/apps/email.html">Claims</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/apps/calendar.html">Calendar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/apps/todo.html">Todo List</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="pages/apps/gallery.html">API Keys</a>
                  </li>

                </ul>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="pages/samples/widgets.html">
                <i class="fas fa-book"></i> &nbsp;
                <span class="menu-title">Documentation</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="pages/samples/widgets.html">
                <i class="fab fa-discord"></i> &nbsp;
                <span class="menu-title">Discord</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/panel/credits">
                <i class="fas fa-heart"></i> &nbsp;
                <span class="menu-title">Credits</span>
              </a>
            </li>

            {% if data['show_contribute'] %}
            <li class="nav-item">
              <a class="nav-link" href="/panel/contribute">
                <i class="fas fa-donate"></i> &nbsp;
                <span class="menu-title">Contribute</span>
              </a>
            </li>
            {% end %}


          </ul>
        </nav>
        <!-- partial -->