<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link count-indicator">
        <i class="fas fa-broadcast-tower
        {% if data.get('update_available') %}
            text-danger
        {% end %}
        "></i>
<!--        <span class="count bg-success">3</span>-->
      </a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link count-indicator" href="/panel/panel_config">
        <i class="fas fa-cogs"></i>
      </a>
    </li>

    <li class="nav-item dropdown user-dropdown">
      <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
        <img class="img-xs rounded-circle" src="/static/assets/images/faces-clipart/pic-1.png" alt="Profile image"> </a>
      <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
        <div class="dropdown-header text-center">
          <img class="img-md rounded-circle" src="/static/assets/images/faces-clipart/pic-1.png" alt="Profile image">
          <p class="mb-1 mt-3 font-weight-semibold">{{ data['user_data']['username'] }}</p>
          <p class="font-weight-light text-muted mb-0">Roles: </p>
          {% for r in data['user_role'] %}            
            <p class="font-weight-light text-muted mb-0">{{ r }}</p>
          {% end %}
        </div>
        <a class="dropdown-item" href="/panel/activity_logs"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary"></i> Activity</a>
        <a class="dropdown-item" href="/public/logout"><i class="dropdown-item-icon mdi mdi-power text-primary"></i>Sign Out</a>
      </div>
    </li>
  </ul>